.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }        
        &--active {
            color: #ffffff;
            background-color: $main-color;
            border: none;
        }
    }
    &__tabs-text {
        margin: 0;
        transform: skewX(25deg);
    }
    &__content {
        @include ul-reset;

        margin-top: 60px;
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        &--active {
            display: flex;
        }        
    }
}

@media (max-width: $mobile-width) {
   .catalog {
       min-width: $min-width;       
       &__tab {
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 12px;
           line-height: normal;
       }
       &__tabs {
           margin-top: 40px;
       }
   } 
}
