.reviews {
    padding-bottom: 71px;
    &__list {
        @include ul-reset;
    }
    &__item {
        display: flex;
        margin-top: 70px;
    }
    &__blockquote {
        position: relative;
        margin: 0;
        padding-right: 55px;
        padding-left: 200px;

        &::before {
            position: absolute;
            content: "";
            width: 169px;
            height: 169px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
        }
        &--item1 {
            &::before {
                background-image: url("../img/feed_1.png");
            }
        }
        &--item2 {
            &::before {
                background-image: url("../img/feed_2.png");
            }
        }
        &--item3 {
            &::before {
                background-image: url("../img/feed_3.png");
            }
        }
    }
    &__author {
        display: block;
        width: 165px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
    }
    &__count {
        color: #646464;
        font-size: 14px;
        font-weight: 500;
    }
    &__text {
        margin: 0;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;

    }
}